name: Build 7za fork

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo fork
        uses: actions/checkout@v4
        with:
          repository: mcmilk/7-Zip-zstd
          ref: master

      - name: Setup Android NDK
        uses: nttld/setup-ndk@v1
        with:
          ndk-version: r26d
          add-to-path: true
          local-cache: true

      - name: Install build dependencies
        run: sudo apt-get update && sudo apt-get install -y make g++ clang nasm yasm

      - name: Build 7za para ARMv7 Android
        working-directory: CPP
        env:
          CC: ${{ env.ANDROID_NDK_HOME }}/toolchains/llvm/prebuilt/linux-x86_64/bin/armv7a-linux-androideabi21-clang
          CXX: ${{ env.ANDROID_NDK_HOME }}/toolchains/llvm/prebuilt/linux-x86_64/bin/armv7a-linux-androideabi21-clang++
          AR: ${{ env.ANDROID_NDK_HOME }}/toolchains/llvm/prebuilt/linux-x86_64/bin/llvm-ar
          RANLIB: ${{ env.ANDROID_NDK_HOME }}/toolchains/llvm/prebuilt/linux-x86_64/bin/llvm-ranlib
          STRIP: ${{ env.ANDROID_NDK_HOME }}/toolchains/llvm/prebuilt/linux-x86_64/bin/llvm-strip
          CFLAGS: "-O3 -march=armv7-a -mthumb -mfpu=neon -mfloat-abi=softfp -static-libstdc++ -static-libgcc -DANDROID -D__ANDROID_API__=21"
          CXXFLAGS: "-O3 -march=armv7-a -mthumb -mfpu=neon -mfloat-abi=softfp -static-libstdc++ -static-libgcc -DANDROID -D__ANDROID_API__=21"
          LDFLAGS: "-static -s"
          ARCH: armv7
          OUTDIR: ${{ github.workspace }}/CPP/build
        run: |
          chmod +x build-lx.sh
          ./build-lx.sh

          ls -la build/7za
          file build/7za
          build/7za --help
          build/7za i
          $STRIP build/7za || true

      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: 7za-android-armv7-fork-master
          path: CPP/build/7za
          retention-days: 1
