name: Build Libretro Cores (Stable Set)
on:
  workflow_dispatch:

jobs:
  build-cores:
    runs-on: ubuntu-latest
    container: alpine:latest
    steps:
      - name: Install Build Tools and Libs
        run: |
          apk update
          apk add build-base clang lld git mesa-dev alsa-lib-dev zlib-dev libpng-dev

      - name: Compile Stable Cores
        env:
          CC: clang
          CXX: clang++
          CFLAGS: -O2 -march=core2 -pipe
          CXXFLAGS: -O2 -march=core2 -pipe
        run: |
          DEST_DIR="$(pwd)/cores_output"
          mkdir -p "$DEST_DIR"
          
          build_core() {
            repo=$1; name=$2; path=$3; makefile=$4
            echo "--- Compiling $name ---"
            git clone --depth=1 "$repo" "$name"
            
            cd "$name"/"$path"
            if [ -n "$makefile" ]; then 
              make -f "$makefile" -j$(nproc)
            else 
              make -j$(nproc)
            fi
            
            find . -name "*_libretro.so" -exec cp {} "$DEST_DIR/" \;
            cd "$GITHUB_WORKSPACE"
          }

          build_core "https://github.com/libretro/QuickNES_Libretro.git" "quicknes" "."
          build_core "https://github.com/libretro/snes9x.git" "snes9x" "libretro"
          build_core "https://github.com/libretro/mgba.git" "mgba" "."
          build_core "https://github.com/libretro/Genesis-Plus-GX.git" "genesis" "." "Makefile.libretro"
          build_core "https://github.com/libretro/pcsx_rearmed.git" "pcsx" "." "Makefile.libretro"
          build_core "https://github.com/libretro/libretro-prboom.git" "prboom" "."

      - name: Upload Cores Pack
        uses: actions/upload-artifact@v4
        with:
          name: Cores-Alpine-Stable-Pack
          path: cores_output/
