name: Build Libretro Cores (Alpine Musl)
on:
  workflow_dispatch:

jobs:
  build-cores:
    runs-on: ubuntu-latest
    container: alpine:latest
    strategy:
      fail-fast: false
      matrix:
        include:
          - name: quicknes
            repo: https://github.com/libretro/QuickNES_Core.git
            path: .
          - name: desmume2015
            repo: https://github.com/libretro/desmume2015.git
            path: desmume
          - name: snes9x
            repo: https://github.com/libretro/snes9x.git
            path: libretro
          - name: mgba
            repo: https://github.com/libretro/mgba.git
            path: .
          - name: genesis
            repo: https://github.com/libretro/Genesis-Plus-GX.git
            path: .
            makefile: Makefile.libretro
          - name: pcsx
            repo: https://github.com/libretro/pcsx_rearmed.git
            path: .
            makefile: Makefile.libretro
          - name: prboom
            repo: https://github.com/libretro/libretro-prboom.git
            path: .
          - name: melonds-ds
            repo: https://github.com/JesseTG/melonds-ds.git
            path: .
            build_system: cmake

    steps:
      - name: Install Build Tools and Libs
        run: |
          apk update
          apk add build-base clang lld git mesa-dev alsa-lib-dev zlib-dev libpng-dev cmake extra-cmake-modules

      - name: Compile Core
        env:
          CC: clang
          CXX: clang++
          CFLAGS: -O3 -march=core2 -pipe
          CXXFLAGS: -O3 -march=core2 -pipe
        run: |
          DEST_DIR="$(pwd)/output"
          mkdir -p "$DEST_DIR"
          
          git clone --depth=1 "${{ matrix.repo }}" "${{ matrix.name }}"
          cd "${{ matrix.name }}/${{ matrix.path }}"
          
          if [ "${{ matrix.build_system }}" = "cmake" ]; then
            cmake -B build -DCMAKE_BUILD_TYPE=Release -DCMAKE_POLICY_VERSION_MINIMUM=3.5
            cmake --build build -j$(nproc)
            find build -name "*_libretro.so" -exec cp {} "$DEST_DIR/" \;
          else
            if [ -n "${{ matrix.makefile }}" ]; then
              make -f "${{ matrix.makefile }}" -j$(nproc)
            else
              make -j$(nproc)
            fi
            find . -name "*_libretro.so" -exec cp {} "$DEST_DIR/" \;
          fi

      - name: Upload Core
        uses: actions/upload-artifact@v4
        with:
          name: core-${{ matrix.name }}-alpine-x86_64
          path: output/
