name: Build Libretro Cores (Parallel Set)
on:
  workflow_dispatch:

jobs:
  build-cores:
    runs-on: ubuntu-latest
    container: alpine:latest
    strategy:
      fail-fast: false
      matrix:
        include:
          - name: quicknes
            repo: https://github.com/libretro/QuickNES_Core.git
            path: .
          - name: desmume2015
            repo: https://github.com/libretro/desmume2015.git
            path: desmume
          - name: snes9x
            repo: https://github.com/libretro/snes9x.git
            path: libretro
          - name: mgba
            repo: https://github.com/libretro/mgba.git
            path: .
          - name: genesis
            repo: https://github.com/libretro/Genesis-Plus-GX.git
            path: .
            makefile: Makefile.libretro
          - name: pcsx
            repo: https://github.com/libretro/pcsx_rearmed.git
            path: .
            makefile: Makefile.libretro
          - name: prboom
            repo: https://github.com/libretro/libretro-prboom.git
            path: .

    steps:
      - name: Install Build Tools and Libs
        run: |
          apk update
          apk add build-base clang lld git mesa-dev alsa-lib-dev zlib-dev libpng-dev

      - name: Compile Core
        env:
          CC: clang
          CXX: clang++
          CFLAGS: -O2 -march=core2 -pipe
          CXXFLAGS: -O2 -march=core2 -pipe
        run: |
          DEST_DIR="$(pwd)/output"
          mkdir -p "$DEST_DIR"
          
          git clone --depth=1 "${{ matrix.repo }}" "${{ matrix.name }}"
          cd "${{ matrix.name }}/${{ matrix.path }}"
          
          if [ -n "${{ matrix.makefile }}" ]; then
            make -f "${{ matrix.makefile }}" -j$(nproc)
          else
            make -j$(nproc)
          fi
          
          find . -name "*_libretro.so" -exec cp {} "$DEST_DIR/" \;

      - name: Upload Core
        uses: actions/upload-artifact@v4
        with:
          name: core-${{ matrix.name }}-alpine
          path: output/
