name: FluentFlame AnyLinux Packager
on:
  workflow_dispatch:

jobs:
  build:
    name: Package FluentFlame AnyLinux
    runs-on: ubuntu-latest
    container:
      image: archlinux:latest
      options: --privileged

    steps:
      - name: Install System Dependencies
        run: |
          pacman -Sy --noconfirm
          pacman -S --noconfirm wget curl ca-certificates binutils desktop-file-utils grep sed coreutils zsync xorg-server-xvfb gcc make git sudo nodejs npm

      - name: Checkout Code
        uses: actions/checkout@v6
        with:
          repository: FluentFlame/fluentflame-reader

      - name: Build and Extract DEB
        run: |
          npm install
          npm run build
          npm run package-deb
          mkdir -p extracted
          find dist -name "*.deb" -exec ar x {} \;
          tar xf data.tar.* -C extracted/

      - name: Prepare AnyLinux Tools
        run: |
          wget "https://raw.githubusercontent.com/pkgforge-dev/Anylinux-AppImages/main/useful-tools/quick-sharun.sh" -O ./quick-sharun
          chmod +x ./quick-sharun
          
          wget "https://raw.githubusercontent.com/pkgforge-dev/Anylinux-AppImages/main/useful-tools/get-debloated-pkgs.sh" -O ./get-debloated-pkgs
          chmod +x ./get-debloated-pkgs
          
          curl -fsSL "https://github.com/VHSgunzo/sharun/releases/latest/download/sharun-x86_64" -o /usr/local/bin/sharun
          chmod +x /usr/local/bin/sharun

          ./get-debloated-pkgs --add-mesa --add-common --prefer-nano ffmpeg-mini

      - name: AnyLinux Deployment
        env:
          GITHUB_REPOSITORY: ${{ github.repository }}
          ANYLINUX_LIB: 1
          DEPLOY_OPENGL: 1
          DEPLOY_VULKAN: 1
          STRACE_MODE: 1
        run: |
          export ARCH=$(uname -m)
          export VERSION=$(date +%Y%m%d)
          export OUTPATH="./dist-anylinux"
          export ADD_HOOKS="fix-namespaces.hook:self-updater.bg.hook"
          
          BINARY_PATH=$(find extracted -name "fluentflame-reader" -type f -executable | head -n 1)
          
          mkdir -p assets
          find extracted -name "fluentflame-reader.png" -exec cp {} assets/icon.png \;
          find extracted -name "*.desktop" -exec cp {} assets/fluentflame.desktop \;
          
          export ICON="assets/icon.png"
          export DESKTOP="assets/fluentflame.desktop"

          sed -i 's|^Exec=.*|Exec=fluentflame-reader --ozone-platform-hint=auto %U|' "$DESKTOP"

          xvfb-run ./quick-sharun "$BINARY_PATH" --timeout 20
          
          ./quick-sharun --make-appimage

      - name: Upload Artifact
        uses: actions/upload-artifact@v6
        with:
          name: FluentFlame-AnyLinux
          path: ./dist-anylinux/*
