name: Build FluentFlame Alpine Native

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    container:
      image: alpine:latest
      options: --user root

    steps:
      - name: Setup Repositories and Install Dependencies
        run: |
          echo "https://dl-cdn.alpinelinux.org/alpine/edge/main" >> /etc/apk/repositories
          echo "https://dl-cdn.alpinelinux.org/alpine/edge/community" >> /etc/apk/repositories
          echo "https://dl-cdn.alpinelinux.org/alpine/edge/testing" >> /etc/apk/repositories
          apk update
          apk add --no-cache nodejs npm git bash electron simdutf llhttp \
            hdrhistogram-c crc32c minizip libxshmfence build-base python3 xz

      - name: Clone Repository
        run: |
          git clone --depth 1 https://github.com/FluentFlame/fluentflame-reader.git .
          
      - name: Install NPM Dependencies
        run: |
          npm install

      - name: Transpile Source Code
        run: |
          npm run build

      - name: Build Unpacked Directory
        run: |
          export ELECTRON_PATH="/usr/lib/electron"
          SYSTEM_ELECTRON_VER=$(electron -v --no-sandbox | sed 's/v//')
          
          npx electron-builder --linux --dir \
            -c.electronDist=$ELECTRON_PATH \
            -c.electronVersion=$SYSTEM_ELECTRON_VER

      - name: Copy Native Libraries
        run: |
          OUTPUT_DIR="bin/linux/x64/linux-unpacked"
          cp /usr/lib/libsimdutf.so* "$OUTPUT_DIR/"
          cp /usr/lib/libllhttp.so* "$OUTPUT_DIR/"
          cp /usr/lib/libhdr_histogram.so* "$OUTPUT_DIR/"
          cp /usr/lib/libcrc32c.so* "$OUTPUT_DIR/"
          cp /usr/lib/libminizip.so* "$OUTPUT_DIR/"
          cp /usr/lib/libxshmfence.so* "$OUTPUT_DIR/"

      - name: Force Spanish Language
        run: |
          cd bin/linux/x64/linux-unpacked/locales
          find . -type f ! -name 'es.pak' ! -name 'es-419.pak' -delete

      - name: Create Final Tarball Native
        run: |
          mv bin/linux/x64/linux-unpacked fluentflame-portable
          tar -cJf fluentflame-alpine-native.tar.xz fluentflame-portable/

      - name: Upload Artifact
        uses: actions/upload-artifact@v4
        with:
          name: FluentFlame-Alpine-Native
          path: fluentflame-alpine-native.tar.xz