name: Build FluentFlame Alpine Native

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    container:
      image: alpine:latest
      options: --user root

    steps:
      - name: Setup Repositories and Install Dependencies
        run: |
          echo "https://dl-cdn.alpinelinux.org/alpine/edge/main" >> /etc/apk/repositories
          echo "https://dl-cdn.alpinelinux.org/alpine/edge/community" >> /etc/apk/repositories
          echo "https://dl-cdn.alpinelinux.org/alpine/edge/testing" >> /etc/apk/repositories
          apk update
          apk add --no-cache nodejs npm git bash electron simdutf llhttp \
            hdrhistogram-c crc32c minizip libxshmfence build-base python3

      - name: Clone Repository
        run: |
          git clone --depth 1 https://github.com/FluentFlame/fluentflame-reader.git .
          
      - name: Install NPM Dependencies
        run: |
          npm install

      - name: Build and Package Tarball
        run: |
          export ELECTRON_SKIP_BINARY_DOWNLOAD=1
          export ELECTRON_OVERRIDE_DIST_PATH="/usr/lib/electron"
          
          npm run package-tarball

          cp /usr/lib/libsimdutf.so* dist/linux-unpacked/
          cp /usr/lib/libllhttp.so* dist/linux-unpacked/
          cp /usr/lib/libhdr_histogram.so* dist/linux-unpacked/
          cp /usr/lib/libcrc32c.so* dist/linux-unpacked/
          cp /usr/lib/libminizip.so* dist/linux-unpacked/
          cp /usr/lib/libxshmfence.so* dist/linux-unpacked/

      - name: Force Spanish Language
        run: |
          cd dist/linux-unpacked/locales
          find . -type f ! -name 'es.pak' ! -name 'es-419.pak' -delete

      - name: Upload Artifact
        uses: actions/upload-artifact@v4
        with:
          name: FluentFlame-Alpine-Native
          path: dist/*.tar.xz