name: Build Hyfetch on Alpine (Native armv7)

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3
        with:
          platforms: arm

      - name: Build in Alpine armv7
        run: |
          docker run --rm --platform linux/arm/v7 -v ${{ github.workspace }}:/work -w /work alpine:latest sh -c "
            apk update
            apk add --no-cache git pkgconfig openssl-dev build-base ca-certificates musl-dev rust cargo
            
            git clone https://github.com/hykilpikonna/hyfetch.git
            cd hyfetch
            
            # Limpiamos flags manuales que puedan confundir a las proc-macros
            unset RUSTFLAGS
            cargo build --release --all-features
            
            cp target/release/hyfetch /work/hyfetch-static
          "

      - name: Upload
        uses: actions/upload-artifact@v4
        with:
          name: hyfetch-static-android
          path: hyfetch-static
