name: Build l3afpad

on: workflow_dispatch

jobs:
  build:
    runs-on: ubuntu-latest
    container: debian:12
    steps:
      - name: Update package list
        run: apt-get update

      - name: Install dependencies
        run: apt-get install -y git autoconf automake intltool libgtk-3-dev pkg-config build-essential

      - name: Clone Arch Linux packaging repo
        run: git clone https://gitlab.archlinux.org/archlinux/packaging/packages/l3afpad.git arch-l3afpad

      - name: Clone l3afpad source
        run: git clone https://github.com/stevenhoneyman/l3afpad.git

      - name: Prepare source
        run: |
          cd l3afpad
          git checkout v0.8.18.1.11
          git cherry-pick -n 78978120eb1978b842e7c155e075440cab53d624
          git cherry-pick -n aa0b0eb0d7efeb5e5b798ef01a0bd1e62f7c7ab0
          git cherry-pick -n 39ca226b866551c6a9833a31fea78af13ef6ac9f
          git cherry-pick -n 665fca6d70e9dfd1af101e7ea85677bc959e9906
          git cherry-pick -n 01d397c3328eb77f5241bc50ee78e44070aeceb4
          git apply -3 ../arch-l3afpad/l3afpad-redraw-line-numbers.patch
          git apply -3 ../arch-l3afpad/l3afpad-themed-icon.patch
          git apply -3 ../arch-l3afpad/l3afpad-keywords.patch
          git apply -3 ../arch-l3afpad/l3afpad-right-padding.patch
          git apply -3 ../arch-l3afpad/l3afpad-wrap-mode.patch
          git apply -3 ../arch-l3afpad/l3afpad-linenumber-color.patch
          autoreconf -fi

      - name: Configure and build
        run: |
          cd l3afpad
          ./configure --prefix=/usr --sysconfdir=/etc --localstatedir=/var
          make

      - name: Upload binary artifact
        uses: actions/upload-artifact@v4
        with:
          name: l3afpad-binary
          path: l3afpad/l3afpad
