name: Build l3afpad Alpine (musl)
on: workflow_dispatch
jobs:
  build:
    runs-on: ubuntu-latest
    container: alpine:latest
    steps:
      - name: Install dependencies
        run: |
          apk update
          apk add git autoconf automake intltool \
                  gtk+3.0-dev pkgconfig build-base \
                  gettext-dev libmd4c-dev

      - name: Clone
        run: git clone https://github.com/nubesurrealista/l3afpad.git

      - name: Build
        run: |
          cd l3afpad
          mkdir -p m4
          autoreconf -fi
          ./configure --prefix=/usr
          make -j$(nproc)

      - name: Install to staging
        run: |
          cd l3afpad
          mkdir -p ../install-staging
          make install DESTDIR=$PWD/../install-staging

      - name: Package binary + Spanish locale
        run: |
          mkdir -p package/usr/bin
          mkdir -p package/usr/share/locale/es/LC_MESSAGES
          mkdir -p package/usr/share/applications
          
          cp install-staging/usr/bin/l3afpad package/usr/bin/
          
          if [ -f install-staging/usr/share/locale/es/LC_MESSAGES/l3afpad.mo ]; then
            cp install-staging/usr/share/locale/es/LC_MESSAGES/l3afpad.mo \
               package/usr/share/locale/es/LC_MESSAGES/
          fi
          
          cp install-staging/usr/share/applications/l3afpad.desktop \
             package/usr/share/applications/
          
          tar -czf l3afpad-alpine-es.tar.gz -C package .

      - name: Upload
        uses: actions/upload-artifact@v4
        with:
          name: l3afpad-alpine-musl
          path: l3afpad-alpine-es.tar.gz
