name: Build RetroArch (Offline Edition)
on:
  workflow_dispatch:

jobs:
  build-ra:
    runs-on: ubuntu-latest
    container: alpine:latest
    steps:
      - name: Install System Dependencies
        run: |
          apk update
          apk add build-base clang lld git curl jq tar xz pkgconf \
                  mesa-dev alsa-lib-dev freetype-dev libx11-dev \
                  libxinerama-dev libxxf86vm-dev libxkbcommon-dev \
                  libxml2-dev libusb-dev eudev-dev sdl2-dev \
                  libxv-dev mesa-gles ffmpeg-dev

      - name: Build Optimized RetroArch
        env:
          CC: clang
          CXX: clang++
          CFLAGS: -O3 -march=core2 -pipe -flto=thin
          CXXFLAGS: -O3 -march=core2 -pipe -flto=thin
          LDFLAGS: -fuse-ld=lld -flto=thin -Wl,--as-needed -Wl,--gc-sections
        run: |
          LATEST_RELEASE=$(curl -sL https://api.github.com/repos/libretro/RetroArch/releases/latest)
          ASSET_URL=$(echo "$LATEST_RELEASE" | jq -r '.assets[] | select(.name | startswith("retroarch-sourceonly-") and endswith(".tar.xz")) | .browser_download_url')
          wget "$ASSET_URL" -O ra_source.tar.xz
          mkdir ra && tar -xvf ra_source.tar.xz -C ra --strip-components=1
          cd ra
          
          ./configure --prefix=/usr \
                      --disable-debug --disable-vulkan --disable-wayland --disable-qt \
                      --disable-xmb --disable-ozone --enable-rgui --enable-xvideo \
                      --enable-sdl2 --enable-alsa --enable-udev --enable-sse \
                      --disable-networking --disable-networkgamepad --disable-netplaydiscovery \
                      --disable-online_updater --disable-update_cores --disable-update_assets \
                      --disable-discord --disable-cheevos \
                      --enable-ffmpeg --disable-builtin-ffmpeg
          
          make -j$(nproc)
          strip --strip-unneeded retroarch

      - name: Upload RetroArch Binary
        uses: actions/upload-artifact@v4
        with:
          name: RetroArch-Alpine-Core2Duo
          path: ra/retroarch
