name: Check RetroArch Help Flags
on:
  workflow_dispatch:

jobs:
  check-flags:
    runs-on: ubuntu-latest
    container: alpine:latest
    steps:
      - name: Install dependencies
        run: apk add curl jq tar xz

      - name: Get Source and Run Help
        run: |
          # Obtener la última versión
          LATEST_RELEASE=$(curl -sL https://api.github.com/repos/libretro/RetroArch/releases/latest)
          ASSET_URL=$(echo "$LATEST_RELEASE" | jq -r '.assets[] | select(.name | startswith("retroarch-sourceonly-") and endswith(".tar.xz")) | .browser_download_url')
          wget "$ASSET_URL" -O ra_source.tar.xz
          mkdir ra && tar -xvf ra_source.tar.xz -C ra --strip-components=1
          
          cd ra
          # Ejecutar el help y guardarlo en un archivo
          ./configure --help > ../retroarch_flags_help.txt
          
      - name: Upload Flags Help
        uses: actions/upload-artifact@v4
        with:
          name: retroarch-v1.22.2-help
          path: retroarch_flags_help.txt
