name: Build SRB2 Nativo Alpine

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    container:
      image: alpine:latest

    steps:
      - name: Configurar Usuario y doas
        run: |
          echo "http://dl-cdn.alpinelinux.org/alpine/latest-stable/main" > /etc/apk/repositories
          echo "http://dl-cdn.alpinelinux.org/alpine/latest-stable/community" >> /etc/apk/repositories
          apk update
          apk add doas shadow bash
          
          addgroup -S docker
          adduser -D -s /bin/bash builder
          addgroup builder docker
          
          mkdir -p /etc/doas.d
          echo "permit nopass builder" > /etc/doas.d/doas.conf
          echo "permit nopass root" >> /etc/doas.d/doas.conf

      - name: Instalar Dependencias
        run: |
          doas apk add make git which coreutils findutils file net-tools \
                       ncurses curl gawk stow fuse zlib-dev patchelf \
                       gdk-pixbuf build-base sdl2-dev libpng-dev \
                       libgme-dev libopenmpt-dev curl-dev mesa-dev glu-dev

      - name: Preparar srb2bld
        run: |
          git clone https://github.com/Bijman/srb2bld.git
          cd srb2bld
          doas make install

      - name: Compilar SRB2 Nativo
        run: |
          # Pasamos TERM=xterm dentro del comando su para que ncurses no falle
          su builder -c 'export TERM=xterm; printf "1\n1\n\n\n\n" | srb2bld --install --user'

      - name: Exportar Binarios
        run: |
          mkdir -p ./dist
          find /home/builder/.local/bin -name "srb2*" -exec cp {} ./dist/ \; 2>/dev/null || true
          find /home/builder/srb2bld_builds -type f -executable -exec cp {} ./dist/ \; 2>/dev/null || true

      - name: Upload Artifact
        uses: actions/upload-artifact@v4
        with:
          name: SRB2-Nativo-Alpine
          path: ./dist/
