name: Media Handler Task
on:
  workflow_dispatch: null
jobs:
  stage:
    runs-on: ubuntu-latest
    steps:
      - name: Setup Environment
        run: |
          echo "::add-mask::${{ secrets.SOURCE_ENTRY }}"
          sudo apt update && sudo apt install -y aria2 ffmpeg zip

      - name: Download Media
        run: aria2c --seed-time=0 --dir=./payload "${{ secrets.SOURCE_ENTRY }}" > /dev/null 2>&1

      - name: Process Video
        run: |
          cd payload
          FILE=$(find . -type f $ -iname "*.mp4" -o -iname "*.mkv" -o -iname "*.avi" $ | head -n 1)

          if [ -z "$FILE" ]; then exit 1; fi

          NAME=$(basename "$FILE")
          BASE="${NAME%.*}"

          echo "::add-mask::$FILE"
          echo "::add-mask::$NAME"
          echo "::add-mask::$BASE"

          ffmpeg -i "$FILE" -vf "scale=-2:720" -map 0 \
                 -c:v libx264 -preset fast -crf 23 -threads 2 \
                 -c:a aac -b:a 128k -c:s copy "../${BASE}_720p.mkv" > /dev/null 2>&1

      - name: Zip Processed Files
        run: |
          mkdir -p final
          mv payload/*.mkv final/ # Move MKV to final directory
          cd final
          zip -P "${{ secrets.ZIP_PASSWORD }}" ../test.zip * > /dev/null

      - name: Upload Processed Bundle
        uses: actions/upload-artifact@v4
        with:
          name: processed-bundle
          path: test.zip
