name: Build VacuumTube Alpine Latest

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    container:
      image: alpine:latest
      options: --user root

    steps:
      - name: Install System Dependencies
        run: |
          apk add --no-cache nodejs npm git electron bash

      - name: Clone VacuumTube
        run: |
          git clone https://github.com/shy1132/VacuumTube.git .
          npm install

      - name: Build with Stable Electron Dist
        run: |
          SYSTEM_ELECTRON_VER=$(electron -v | sed 's/v//')
          export ELECTRON_PATH="/usr/lib/electron"
          
          npx electron-builder --linux --dir \
            -c.electronDist=$ELECTRON_PATH \
            -c.electronVersion=$SYSTEM_ELECTRON_VER

      - name: Upload Artifact
        uses: actions/upload-artifact@v4
        with:
          name: VacuumTube-Alpine-Latest
          path: dist/linux-unpacked/
