name: Build VacuumTube Alpine Portable

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    container:
      image: alpine:latest
      options: --user root

    steps:
      - name: Setup Repositories and Install
        run: |
          echo "https://dl-cdn.alpinelinux.org/alpine/edge/main" >> /etc/apk/repositories
          echo "https://dl-cdn.alpinelinux.org/alpine/edge/community" >> /etc/apk/repositories
          echo "https://dl-cdn.alpinelinux.org/alpine/edge/testing" >> /etc/apk/repositories
          apk update
          apk add --no-cache nodejs npm git bash electron simdutf llhttp \
            hdrhistogram-c crc32c minizip wayland libxshmfence

      - name: Clone and Install
        run: |
          git clone https://github.com/shy1132/VacuumTube.git .
          npm install

      - name: Build Package
        run: |
          export ELECTRON_PATH="/usr/lib/electron"
          SYSTEM_ELECTRON_VER=$(electron -v --no-sandbox | sed 's/v//')
          
          npx electron-builder --linux --dir \
            -c.electronDist=$ELECTRON_PATH \
            -c.electronVersion=$SYSTEM_ELECTRON_VER
          
          cp /usr/lib/libsimdutf.so* dist/linux-unpacked/
          cp /usr/lib/libllhttp.so* dist/linux-unpacked/
          cp /usr/lib/libhdr_histogram.so* dist/linux-unpacked/
          cp /usr/lib/libcrc32c.so* dist/linux-unpacked/
          cp /usr/lib/libminizip.so* dist/linux-unpacked/
          cp /usr/lib/libwayland*.so* dist/linux-unpacked/
          cp /usr/lib/libxshmfence.so* dist/linux-unpacked/

      - name: Upload Artifact
        uses: actions/upload-artifact@v4
        with:
          name: VacuumTube-Portable-With-Deps
          path: dist/linux-unpacked/