---
name: Build unrar-free (Final Release)
on:
  workflow_dispatch: null
jobs:
  alpine-build:
    runs-on: ubuntu-latest
    container: alpine:latest
    steps:
      - name: Install System Dependencies
        run: |
          apk add build-base autoconf automake libtool git \
                  acl-dev attr-dev bzip2-dev expat-dev lz4-dev \
                  openssl-dev xz-dev zlib-dev zstd-dev bsd-compat-headers \
                  argp-standalone zlib-static bzip2-static xz-static \
                  zstd-static openssl-libs-static acl-static attr-static \
                  expat-static
      - name: Checkout libarchive
        run: git clone --depth 1 https://github.com/libarchive/libarchive.git
      - name: Build libarchive (Static)
        run: |
          cd libarchive
          /bin/sh build/autogen.sh
          ./configure --prefix=/usr --enable-static --disable-shared --without-xml2 --without-expat
          make -j$(nproc)
          make install
      - name: Checkout unrar-free
        run: git clone --depth 1 https://gitlab.com/bgermann/unrar-free.git
      - name: Build unrar-free
        run: |
          cd unrar-free
          autoreconf -f -i
          ./configure
          # Enlazamos todo en un solo binario monolítico
          make -j$(nproc) LDFLAGS="-static" LIBS="-larchive -largp -lzstd -llzma -lbz2 -lz -lacl -lattr -lcrypto -lexpat"
      - name: Binary Optimization and Check
        run: |
          # El binario se genera dentro de la carpeta src
          cd unrar-free/src
          # Eliminamos símbolos de depuración para reducir el peso (de ~10MB a ~2MB aprox)
          strip unrar-free
          ls -lh unrar-free
          file unrar-free
          ldd unrar-free || true
      - name: Upload Artifact
        uses: actions/upload-artifact@v7
        with:
          name: unrar-free-alpine-static
          path: unrar-free/src/unrar-free
